<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Shopping List</title>

  <!-- Material Design icons and fonts  -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Material Design styles for Vue.js  -->
  <link rel="stylesheet" href="https://unpkg.com/vue-material@0.7.4/dist/vue-material.css">

  <!-- our styles -->
  <link href="css/shoppinglist.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <!-- Vue app -->
  <div id="app" class="app-viewport" v-cloak>    

    <!-- top bar -->
    <md-whiteframe md-elevation="3" class="main-toolbar">
      <md-toolbar>
        <div class="md-toolbar-container">
          <h2 class="md-title">{{ pagetitle }}</h2>
        </div>
      </md-toolbar>
    </md-whiteframe>
    
    <!-- main content -->
    <main class="main-content">

      <!-- add new shopping list -->
      <md-card v-if="mode == 'addlist'">
        <md-card-header>Add Shopping List</md-card-header>
        <md-card-actions>
          <md-button v-on:click="onClickCancelShoppingList">Cancel</md-button>
          <md-button v-on:click="onClickSaveShoppingList">Save</md-button>
        </md-card-actions>
        <md-card-content>
          <md-input-container>
            <label>List name</label>
            <md-input placeholder="e.g. Food" v-model="newShoppingListName"></md-input>
          </md-input-container>    
          <md-input-container>
            <label>Place name</label>
            <md-input placeholder="e.g. Whole Food Markets" v-model="newShoppingListPlaceName"></md-input>
          </md-input-container>          
        </md-card-content>
      </md-card>

      <!-- list of shopping lists -->
      <md-list class="md-double-line" v-if="mode == 'showlist'">
        <md-card v-for="list in shoppingLists" >     
          <md-card-header>
            <div class="md-title" v-bind:class="{ cardchecked: list.checked}">{{ list.title }}</div>
            <div class="md-subhead">{{ list.place.title }}</div>
          </md-card-header>
          <md-card-content>
              <md-checkbox v-model="list.checked" class="md-primary"></md-checkbox>                
          </md-card-content>
        </md-card>
      </md-list>

      <!-- floating 'add shopping list' button -->
      <div class="floatingbutton" v-if="mode == 'showlist'">
        <md-button class="md-fab md-primary md-raised" v-on:click="onClickAddShoppingList">
          <md-icon>add</md-icon>
        </md-button>
      </div>

    </main> <!-- main content -->

  </div> <!-- app -->

  <!--  Scripts-->
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!-- cuid - unique id generator -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cuid/1.3.8/browser-cuid.min.js"></script>

  <!-- PouchDB - in-browser database -->
  <script src="https://cdn.jsdelivr.net/gh/pouchdb/pouchdb@6.3.4/dist/pouchdb.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/pouchdb/pouchdb@6.3.4/dist/pouchdb.find.min.js"></script>

  <!-- Vue.js - framework that handles DOM/Model interaction -->
  <script src="https://unpkg.com/vue"></script>

   <!-- vue-material - Material Design for Vue.js -->
   <script src="https://unpkg.com/vue-material@0.7.4/dist/vue-material.js"></script>

  <!-- our code -->
  <script src="js/shoppinglist.js"></script>

  </body>
</html>
